{% include "base/head.html" %}

<div class="container m-auto" style="text-align: center;">
  <div class="mt-5" style="font-weight: bold; font-size: 5.5rem;">
    {% load static %}
    <img src="{% static 'images/logo_take5_original.png' %}" alt="My image">
    <h2 class="pt-2" style="color:#AAA9AB">Teste - Desenvolvedor Back-end</h2>
  </div>

  <nav class="nav justify-content-center mt-4 border" id="scroll_tr">
    <ul class="nav">
      <li class="nav-item">
        <a href="" class="nav-link active">Home/Atualizar</a>
      </li>
      <li class="nav-item">
        <a href="http://localhost:8000/api" class="nav-link active">Api</a>
      </li>
    </ul>
  </nav>

  {% include "base/tables/surveys.html" with dados_surveys=dados_surveys %}
  
  <hr class="mt-5">
  <hr class="mb-5">
  {% include "base/tables/surveys_questions.html" with dados_surveys=dados_surveys dados_questions=dados_questions %}
  
  <hr class="mt-5">
  <hr class="mb-5">
  {% include "base/tables/surveys_questions_alternative.html" with dados_surveys=dados_surveys dados_questions=dados_questions dados_alternatives=dados_alternatives %}
  
  <hr class="mt-5">
  <hr class="mb-5">
  {% include "base/tables/surveys_user_answer.html" with dados_surveys=dados_surveys dados_questions=dados_questions dados_alternatives=dados_alternatives dados_user_answer=dados_user_answer %}
  
  <hr class="mt-5">
  <hr class="mb-5">
  {% include "base/bottom.html" %}